body{
    background:lightyellow;
    line-height:1.7em;
    column-count: 2;
    color:gray;
    width:16500px;
    position:absolute;
    top:0px;
    bottom:0px;
    font-family: 'Varela', sans-serif;
    
}

div {
 color:black;
 }
 
 .row {
   height:60px;
   

  }
  
h1 {
 top:10px;
 padding-left:50px;
 font-family: 'Stardos Stencil', cursive;
 font-weight:700;
 font-size:1.3em;
 }
 
h2 {
 padding-left:50px;
 font-family: 'Varela', sans-serif;
 font-size:.8em;
 }
 
li {
 padding-left:10px;
 color: black;
 list-style:none;
 }

.name {
 margin:5px;
 padding-right:30px;
 margin-top:20px;
 border-radius: 5px;
 width:280px;
 text-align:right;
 color:gray;
 font-family: 'Varela', sans-serif;
 font-weight 800;
 font-size:.6em;
  }

.incidentli {
 background-color:#FF7F50;
  box-shadow: 3px 3px 3px #686868;
 font-family: 'Varela', sans-serif;
 font-weight 800;
 font-size:.6em;
 width:130px;
 margin-bottom:5px;
 }
  
.domesticli {
 background-color:#009999;
  box-shadow: 3px 3px 3px #686868;
 font-family: 'Varela', sans-serif;
 font-weight 800;
 font-size:.6em;
 width:130px;

 }
  
.incidents {
 margin-top:-25px;
 background-color:#FF7F50;
  box-shadow: 3px 3px 3px #686868;
 font-family: 'Varela', sans-serif;
 font-weight 800;
 font-size:.6em;
 margin-left:305px;
 }
 
.domestic {
 margin:5px;
 background-color:#009999;
  box-shadow: 3px 3px 3px #686868;
 font-family: 'Varela', sans-serif;
 font-weight 800;
 font-size:.6em;
 margin-left:305px;
  
  }
