/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

#site-head {
   	margin:0 auto;
   	left:50px;
	
	}

#site-wrapper {
	margin:0 auto;
	width:960px;
	padding-top:2em;
	}


@font-face {
    font-family: 'CallunaRegular';
    src: url('fonts/Calluna-Regular-webfont.eot');
    src: url('fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calluna-Regular-webfont.woff') format('woff'),
         url('fonts/Calluna-Regular-webfont.ttf') format('truetype'),
         url('fonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CallunaSansRegular';
    src: url('fonts/CallunaSansRegular-webfont.eot');
    src: url('fonts/CallunaSansRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CallunaSansRegular-webfont.woff') format('woff'),
         url('fonts/CallunaSansRegular-webfont.ttf') format('truetype'),
         url('fonts/CallunaSansRegular-webfont.svg#CallunaSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body#index { 
  background: url('images/barrel_sepia.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#vs { 
  background: url('images/JimmyHennessey_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#how { 
  background: url('images/abandoneddistillery_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#step1 { 
  background: url('images/wolfburnwhiskeybarrel_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#step2 { 
  background: url('images/barrels_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#step3 { 
  background: url('images/highlandparkbarrels_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#step4 { 
  background: url('images/wolfburnwhiskeyrun_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#step5 { 
  background: url('images/turkeybourbonracks_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#step6 { 
  background: url('images/makersmarkdistillery_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#step7 { 
  background: url('images/rockingchairs_sepia.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#site-head { 
	position:relative; 
	height:200px;
	padding-bottom:-2em;
    padding-left:0px;
	}

#site-head .whatisit img{
 margin:0 auto;
 position:absolute;
 padding-left:50px;
 }
 
#site-head.vs img{
 margin:0 auto;
 position:absolute;
 padding-top:5em;
 }
 
#site-head.how img{
 margin:0 auto;
 position:absolute;
 }
 
#site-head.1 img{
 position:absolute;
 }
 
#site-head.2 img{
 position:absolute;
 }
 
#site-head.3 img{
 position:absolute;
 padding-bottom:-.5em;
 }
 
#site-head.4 img{
 position:absolute;
 padding-bottom:-.5em;
 }
 
 
#whiskey {
  position:relative;
  }
 
#whiskey h1 {
  font-family: 'CallunaSansRegular';
  color:white;
  font-size:2.5em;
  }
  
#whiskey h2 {
  font-family: 'CallunaSansRegular';
  color:white;
  font-size:1.1em;
  line-height:1.5em;
  }

#definition {
  position:relative;
  padding-top:1em;
  padding-bottom:1.5em;
  }

#definition h1 {
 font-size:1.3em;
 padding-top:1em;
 color:white;  
 }
 
#definition p {
 font-size:1.5em;
 line-height:1.6em;
 }

body p {
  font-family: 'CallunaRegular';
  font-size:1em;
  line-height:1.4em;
  column-count: 2;
  color:white;
 }
 
a {
	text-decoration:none;
	font-style:normal;
	color:white;
	}

#info {
  position:relative;
  padding-bottom:6em;
  }
  
#explained {
  position:relative;
  padding-bottom:6em;
  padding-top:10em;
  }
  
#list {
  position:relative;
  margin:0 auto;
  padding-left:20%;
  top:-7.5em;
  }
  
#fermentation {
 position:relative;
 padding-top:1em;
 }
 
#ferm img{
 position:relative;
 width:500px;
 padding-left:200px;
 padding-top:-.5em;
 }
 
#malting {
 position:relative;
 padding-top:16em;
 padding-left:0;
 }
 
 
#truck img{
 position:relative;
 float:left;
 width:300px;
 padding-top:100px;
} 

#silo1 img{
 position:relative;
 float:left;
 width:200px;
 padding-left:250px;

 }
 
 #silo2 img{
 position:relative;
 float:left;
 width:200px;
 
 }
 
 #distillation {
 position:relative;
 padding-top:20em;
 }
 
#dist img{
 position:absolute;
 height:425px;
 top:125px;
 left:400px;
 }
 
 
#maturation {
 position:relative;
 padding-top:1em;
 }
 
#mature img {
 position:relative;
 width:500px;
 left:200px;
 }
 
#blending {
 position:relative;
 padding-top:13em;
 }
 
#bottling {
 position:relative;
 padding-top:2em;
 }
 
#bottles img{
  position:relative;
  width:600px;
  left:200px; 
  }
 
#column1 p {
  padding-bottom:3em;
  padding-right:1.5em;
  float:left;
  width:450px;
  display:block;
  }
  
#column2 p {
  float:left;
  width:450px;
  display:block;
  }

 
#footer-wrapper {
	height:7em;
	position:fixed;
	bottom:0;
	padding-top:8em;
}

#site-footer {
    clear:both;
    position:fixed;
	bottom:0;
	padding-left:25%;
	width:960px;
	padding-top:2em;
	padding-bottom:2em;
}

#site-footer ul li{
    position:relative;
    margin:0 auto;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	float:left;
	display:inline-block;
	padding-right:2em;

	}