/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }




@font-face {
    font-family: 'CallunaRegular';
    src: url('fonts/Calluna-Regular-webfont.eot');
    src: url('fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calluna-Regular-webfont.woff') format('woff'),
         url('fonts/Calluna-Regular-webfont.ttf') format('truetype'),
         url('fonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CallunaSansRegular';
    src: url('fonts/CallunaSansRegular-webfont.eot');
    src: url('fonts/CallunaSansRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CallunaSansRegular-webfont.woff') format('woff'),
         url('fonts/CallunaSansRegular-webfont.ttf') format('truetype'),
         url('fonts/CallunaSansRegular-webfont.svg#CallunaSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    margin:0;
    padding:0;
}

body{
    background:#000;
    font-family:'Noto Serif', serif;
    font-size:1em;
    line-height:1.4em;
    column-count: 2;
    color:white;
    width:16500px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}



#section2 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }
  
#section2 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section3 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }

#section3 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section4 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }
  
#section4 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section5 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }
  
#section5 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section6 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }
  
#section6 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section7 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }
  
#section7 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section8 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }

#section8 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section9 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }
  
#section9 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section10 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }
  
#section10 .left a {
   cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section11 .left {
  position:relative;
  float:left;
  height:100%;
  width:150px;
  cursor:url('images/cursorleft.png'),url(myBall.cur),auto;
  }

#section1  {
  cursor:url('images/cursorright.png'),auto;
  }

#section1  a{
  cursor:url('images/cursorright.png'),auto;
  }

#section2 .right {
  position:relative;
  height:100%;
  width:100%;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-700px;
  }
  
#section2 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:250px;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section3 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-500px;
  }
  
#section3 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section4 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-500px;
  }
  
#section4 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section5 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-1000px;
  }
  
#section5 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section6 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-500px;
  }
  
#section6 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

#section7 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-1000px;
  }
  
#section7 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section8 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-1000px;
  }
  
#section8 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section9 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-1000px;
  }
  
#section9 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section10 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-500px;
  }
  
#section10 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }
  
#section11 .right {
  position:relative;
  height:100%;
  width:250px;
  left:1250px;
  cursor:url('images/cursorright.png'),auto;
  top:-500px;
  }

#section11 .right a {
   cursor:url('images/cursorright.png'),url(myBall.cur),auto;
   position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none;
    }

.section{
    margin:0px;
    bottom:0px;
    width:1472px;
    float:left;
    height:100%;
}

.section p{
    margin:20px 0px 0px 50px;
    width:800px;
}

#section1 {
  background: url('images/bottlesshelf.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section2{
    background: url('images/barrel_sepia.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section3{
    background: url('images/JimmyHennessey_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section4{
    background: url('images/abandoneddistillery_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section5{
    background: url('images/wolfburnwhiskeybarrel_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section6{
    background: url('images/barrels_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section7{
    background: url('images/highlandparkbarrels_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section8{
    background: url('images/wolfburnwhiskeyrun_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section9{
    background: url('images/turkeybourbonracks_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section10{
    background: url('images/makersmarkdistillery_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section11{
    background: url('images/rockingchairs_sepia.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#section1 img{
 display:block;
 margin:0 auto;
 position:absolute;
 left:150px;
 width:1100px;
 }

#section2 img{
 display:block;
 margin:0 auto;
 position:relative;
 top:10px;
 left:-50px;
 }
 
#section3 img{
 display:block;
 margin:0 auto;
 position:relative;
 top:20px;
 left:-50px;
 }
 
#section4 img{
 display:block;
 margin:0 auto;
 position:relative;
 top:20px;
 left:-100px;
 }
 
#section5 img{
 position:relative;
 top:20px;
 left:50px;
 }
 
#section6 img{
 position:relative;
 top:20px;
 left:80px;
 }
 
#section7 img{
 position:relative;
 top:30px;
 left:80px;
 padding-bottom:-.5em;
 }
 
#section8 img{
 position:relative;
 top:30px;
 left:50px;
 padding-bottom:-.5em;
 }
 
 #section9 img{
 position:relative;
 top:20px;
 left:80px;
 padding-bottom:-.5em;
 }
 
 #section10 img{
 position:relative;
 top:20px;
 left:70px;
 padding-bottom:-.5em;
 }
 
 #section11 img{
 position:relative;
 top:30px;
 left:80px;
 padding-bottom:-.5em;
 }
 

 
.whiskey h1 {
  position:relative;
  font-family: 'CallunaSansRegular';
  color:white;
  font-size:2.5em;
  padding-left:150px;
  padding-top:2em;
  }
  
.whiskey h2 {
  font-family: 'CallunaSansRegular';
  color:white;
  font-size:1.1em;
  line-height:1.5em;
  left:150px;
  
  }

.definition {
  display:block;
  margin:0 auto;
  padding-left:150px;
  left:50px;
  }

.definition h1 {
 font-size:1.3em;
 padding-top:1em;
 color:white;
 left:50px;
 }
 
.definition p {
 font-size:1.3em;
 line-height:1.6em;
 left:50px;
 }

body p {
  font-family: 'Noto Serif', serif;
  font-size:.9em;
  line-height:1.4em;
  column-count: 2;
  color:white;
 }
 
a {
	text-decoration:none;
	font-style:normal;
	color:white;
	}

.info {
  position:relative;
  left:50px;
  top:2em;
  }
  
.explained {
  position:relative;
  padding-top:20em;
  left:50px;

  }
  
#list {
  position:relative;
  display:block;
  margin:0 auto;
  top:30px;
  width:700px;
  left:100px;
  }
  
.fermentation {
 position:relative;
 padding-top:2.5em;
 left:50px;
 }
 
 .ferm img{
 position:relative;
 padding-left:290px;
 position:relative;
 width:500px;

 }
 
.malting {
 position:relative;
 padding-top:22em;
 left:50px;
 }
 
 
.truck img{
 position:relative;
 float:left;
 width:300px;
 padding-top:100px;
 left:70px;
} 

.silo1 img{
 position:relative;
 float:left;
 width:200px;
 padding-left:300px;

 }
 
 .silo2 img{
 position:relative;
 float:left;
 width:200px;
 
 }
 
 .mashing {
 position:relative;
 top:-3.5em;
 left:50px;
 }
 
 #section6 .mash img{
 position:relative;
 width:700px;
 left:250px;
}
 
 
 .distillation {
 position:relative;
 padding-top:-6em;
 left:50px;
 }
 
.dist img{
 position:relative;
 height:400px;
 top:5em;
 padding-left:22em;
 }
 
 
.maturation {
 position:relative;
 padding-top:5em;
 left:50px;
 }
 
.mature img {
 position:relative;
 width:500px;
 padding-left:300px;
 }
 
.blending {
 position:relative;
 padding-top:3.5em;
 left:50px;
 } 
 
 .blend img{
 position:relative;
 width:600px;
 padding-left:200px;
}
 
.bottling {
 position:relative;
 padding-top:5em;
 left:50px;
 }
 
.bottles img{
  position:relative;
  width:600px;
  padding-left:250px; 
  }
 
#column1 p {
  padding-right:1.5em;
  float:left;
  width:450px;
  display:block;
  }
  
#column2 p {
  float:left;
  width:450px;
  display:block;
  padding-right:300px;
  padding-bottom:10em;
  }

#section2 .nav{
    position:relative;
    left:300px;
    
}

#section2 .info ul li{
    display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	white-space: nowrap;
	top:20em;
	}

#section3 .nav{
    position:relative;
    top:-3em;
    left:400px;
    }
	
#section3 ul li{
	float:left;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	height:2.5em;
	}

#section4 .nav{
    position:relative;
    left:325px;
    top:2em;
    }

#section4 ul li{
	display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	padding-top:3.5em;
	height:2.5em;
	}
	
#section5 .nav{
    position:relative;
    left:400px;
    top:-17em;
    }	
	
#section5 ul li{
	display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	padding-top:19em;
	height:2.5em;
	}
	
#section6 ul li{
    margin:0 auto;
    position:relative;
    float:left;
	display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	padding-top:21em;
	left:-150px;
	height:2.5em;
	}
	
#section7 .nav{
    position:relative;
    left:400px;
    top:-1em;
    }	
	
#section7 ul li{
	display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
    top:18em;
	height:2.5em;
	}

#section8 .nav{
    position:relative;
    left:300px;
    top:-13em;
    }	
	
#section8 ul li{
	display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	padding-top:16em;
	height:2.5em;
	}
	
#section9 .nav{
    position:relative;
    left:300px;
    top:-16em;
    }		
	
#section9 ul li{
	display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	padding-top:18em;
	height:2.5em;
	}
	
#section10 ul li{
    margin:0 auto;
    position:relative;
    float:left;
	display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	padding-top:20em;
	left:-150px;
	height:2.5em;
	}
	
#section11 ul li{
    margin:0 auto;
    position:relative;
    float:left;
	display:inline-block;
	font-family: 'CallunaSansRegular';
	font-size:.8em;
	color:white;
	padding-right:2em;
	padding-top:19em;
	left:-100px;
	height:2.5em;
	}
